numpy<2
opencv-python
Pillow
torch>=1.7
torchvision>=0.8.0
hf_xet
tqdm
huggingface-hub>=0.25.2
git+https://github.com/zurizaeyyay/Real-ESRGAN.git@master#egg=RealESRGAN

# GUI frameworks
fastapi>=0.104.0
uvicorn[standard]>=0.24.0
python-multipart>=0.0.6
websockets>=12.0